Repository Oichkatzelesfrettschen/eigen: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy, clang-tidy-c23

clang-format:
  name: clang-format
  entry: hooks/clang-format.sh
  language: script

clang-tidy:
  name: clang-tidy
  entry: hooks/clang-tidy.sh
  language: script

clang-tidy-c23:
  name: clang-tidy-c23
  entry: hooks/clang-tidy-c23.sh
  language: script

Replace internal enable_if with std alias
  Eigen/src/Core/ArithmeticSequence.h
  Eigen/src/Core/Array.h
  Eigen/src/Core/AssignEvaluator.h
  Eigen/src/Core/Assign_MKL.h
  Eigen/src/Core/MapBase.h
  Eigen/src/Core/MathFunctions.h
  Eigen/src/Core/PlainObjectBase.h
  Eigen/src/Core/ProductEvaluators.h
  Eigen/src/Core/Ref.h
  Eigen/src/Core/util/IndexedViewHelper.h
  Eigen/src/Core/util/IntegralConstant.h
  Eigen/src/Core/util/Macros.h
  Eigen/src/Core/util/Meta.h
  Eigen/src/Core/util/XprHelper.h
  Eigen/src/Geometry/Translation.h
  Eigen/src/SparseCore/SparseProduct.h
  Eigen/src/SparseCore/SparseSolverBase.h
  Eigen/src/plugins/IndexedViewMethods.h
  unsupported/Eigen/CXX11/src/Tensor/TensorIntDiv.h
  unsupported/Eigen/CXX11/src/Tensor/TensorMacros.h
  unsupported/Eigen/CXX11/src/Tensor/TensorReductionCuda.h
  unsupported/Eigen/src/AutoDiff/AutoDiffScalar.h
Due: clang-format, clang-tidy, clang-tidy-c23

Update references to C++23
  Eigen/src/Core/CwiseNullaryOp.h
  Eigen/src/Core/util/IntegralConstant.h
  Eigen/src/Core/util/Macros.h
  Eigen/src/Core/util/Meta.h
  Eigen/src/Core/util/StaticAssert.h
  Eigen/src/Core/util/SymbolicIndex.h
  Eigen/src/plugins/ArrayCwiseBinaryOps.h
  Eigen/src/plugins/ArrayCwiseUnaryOps.h
  doc/CoeffwiseMathFunctionsTable.dox
  doc/Doxyfile.in
  doc/PreprocessorDirectives.dox
  doc/QuickReference.dox
  doc/TopicMultithreading.dox
  doc/eigendoxy.css
  doc/special_examples/CMakeLists.txt
  doc/special_examples/random_cpp23.cpp
  go/ec/ec.go
  test/indexed_view.cpp
  unsupported/Eigen/CXX11/src/Tensor/README.md
  unsupported/Eigen/CXX11/src/Tensor/TensorDeviceCuda.h
  unsupported/Eigen/CXX11/src/Tensor/TensorGlobalFunctions.h
  unsupported/Eigen/CXX11/src/Tensor/TensorImagePatch.h
  unsupported/Eigen/CXX11/src/Tensor/TensorIndexList.h
  unsupported/Eigen/CXX11/src/Tensor/TensorVolumePatch.h
  unsupported/Eigen/CXX11/src/util/CXX11Meta.h
  unsupported/Eigen/CXX11/src/util/EmulateArray.h
  unsupported/Eigen/CXX11/src/util/EmulateCXX11Meta.h
  unsupported/Eigen/src/SparseExtra/RandomSetter.h
  unsupported/Eigen/src/SpecialFunctions/SpecialFunctionsArrayAPI.h
  unsupported/test/CMakeLists.txt
  unsupported/test/autodiff.cpp
  unsupported/test/cxx11_tensor_cuda.cu
Due: clang-format, clang-tidy, clang-tidy-c23

Sanitize template names and use them in header generation
  porter/gen_headers.py
  porter/scan_templates.py
Due: none

porter: warn on failed clang parses
  porter/README.md
  porter/scan_templates.py
Due: none

Add multiplication tests and update script
  go/ec/ec.go
  tests/core/test_core.c
  tests/core/test_core.cpp
Due: clang-format, clang-tidy, clang-tidy-c23

docs: mention RISC-V cross build
  README.md
Due: none

Set EIGEN_MAX_CPP_VER to 23
  Eigen/src/Core/util/Macros.h
  test/symbolic_index.cpp
Due: clang-format, clang-tidy, clang-tidy-c23

Simplify EIGEN_STATIC_ASSERT
  Eigen/src/Core/util/StaticAssert.h
Due: clang-format, clang-tidy, clang-tidy-c23

Simplify feature checks for C++23
  Eigen/src/Core/util/Macros.h
  Eigen/src/Core/util/StaticAssert.h
  doc/PreprocessorDirectives.dox
  test/indexed_view.cpp
  test/symbolic_index.cpp
Due: clang-format, clang-tidy, clang-tidy-c23

Add source_location aware assertions
  Eigen/src/Core/util/Macros.h
Due: clang-format, clang-tidy, clang-tidy-c23

Simplify EIGEN_NODISCARD and annotate return values
  Eigen/src/Core/DenseBase.h
  Eigen/src/Core/MatrixBase.h
  Eigen/src/Core/VectorwiseOp.h
  Eigen/src/Core/util/Macros.h
Due: clang-format, clang-tidy, clang-tidy-c23

Run pre-commit and verify tools in build helper
  porter/build_all.sh
Due: none

porter: handle missing clang
  porter/README.md
  porter/scan_templates.py
Due: none

Add EC matrix multiplication tests
  tests/core/test_core.c
  tests/core/test_core.cpp
  tests/run_all.sh
Due: clang-format, clang-tidy, clang-tidy-c23

Use [[no_unique_address]] for expression members
  Eigen/src/Core/CwiseBinaryOp.h
  Eigen/src/Core/CwiseNullaryOp.h
  Eigen/src/Core/CwiseTernaryOp.h
  Eigen/src/Core/CwiseUnaryOp.h
  Eigen/src/Core/CwiseUnaryView.h
  Eigen/src/Core/VectorwiseOp.h
Due: clang-format, clang-tidy, clang-tidy-c23

Use standard type traits
  Eigen/src/Core/Array.h
  Eigen/src/Core/CoreEvaluators.h
  Eigen/src/Core/DenseBase.h
  Eigen/src/Core/DenseCoeffsBase.h
  Eigen/src/Core/ForceAlignedAccess.h
  Eigen/src/Core/MathFunctions.h
  Eigen/src/Core/NumTraits.h
  Eigen/src/Core/PlainObjectBase.h
  Eigen/src/Core/ProductEvaluators.h
  Eigen/src/Core/SolveTriangular.h
  Eigen/src/Core/arch/AVX/PacketMath.h
  Eigen/src/Core/arch/AVX512/PacketMath.h
  Eigen/src/Core/arch/CUDA/Half.h
  Eigen/src/Core/arch/CUDA/PacketMath.h
  Eigen/src/Core/arch/CUDA/PacketMathHalf.h
  Eigen/src/Core/arch/SSE/PacketMath.h
  Eigen/src/Core/products/GeneralMatrixMatrix.h
  Eigen/src/Core/products/GeneralMatrixMatrixTriangular.h
  Eigen/src/Core/products/SelfadjointMatrixMatrix.h
  Eigen/src/Core/products/SelfadjointMatrixVector.h
  Eigen/src/Core/products/SelfadjointProduct.h
  Eigen/src/Core/products/SelfadjointRank2Update.h
  Eigen/src/Core/products/TriangularMatrixMatrix.h
  Eigen/src/Core/products/TriangularMatrixVector.h
  Eigen/src/Core/util/IndexedViewHelper.h
  Eigen/src/Core/util/IntegralConstant.h
  Eigen/src/Core/util/Meta.h
  Eigen/src/Core/util/SymbolicIndex.h
  Eigen/src/Core/util/XprHelper.h
  Eigen/src/Eigenvalues/Tridiagonalization.h
  Eigen/src/StlSupport/details.h
  test/main.h
  test/meta.cpp
  unsupported/Eigen/src/AutoDiff/AutoDiffScalar.h
Due: clang-format, clang-tidy, clang-tidy-c23

Remove unused enable_if_ref
  Eigen/src/LU/PartialPivLU.h
Due: clang-format, clang-tidy, clang-tidy-c23

Ensure Python lint tools
  setup.sh
Due: none

docs: clarify C++23 modernisation and experimental C/Go
  AGENTS.md
  README.md
  porter/README.md
Due: none

Add matrix multiplication functions and tests
  go/ec/ec.go
  go/ec/ec_test.go
Due: none

core: add dynamic matrix support
  eigenc/include/ec_core.h
  porter/gen_headers.py
  tests/core/test_core.c
Due: clang-format, clang-tidy, clang-tidy-c23

Add gofmt and black pre-commit hooks
  .pre-commit-config.yaml
  setup.sh
Due: none

docs: outline porter workflow
  README.md
Due: none

CI: run porter build
  .github/workflows/ci.yml
Due: none

Add C++23 SpinLock utility
  tests/run_all.sh
  tests/spinlock/test_spinlock.cpp
  unsupported/Eigen/CXX23/CMakeLists.txt
  unsupported/Eigen/CXX23/SpinLock
  unsupported/Eigen/CXX23/src/SpinLock.h
Due: clang-format, clang-tidy, clang-tidy-c23

Refine spinlock for POSIX compliance
  tests/run_all.sh
  tests/spinlock/test_spinlock.cpp
  unsupported/Eigen/CXX23/CMakeLists.txt
  unsupported/Eigen/CXX23/SpinLock
  unsupported/Eigen/CXX23/src/SpinLock.h
Due: clang-format, clang-tidy, clang-tidy-c23

Improve CXX23 SpinLock
  tests/spinlock/test_spinlock.cpp
  unsupported/Eigen/CXX23/src/SpinLock.h
Due: clang-format, clang-tidy, clang-tidy-c23

enhance SpinLock implementation
  tests/run_all.sh
  tests/spinlock/test_spinlock.cpp
  unsupported/Eigen/CXX23/CMakeLists.txt
  unsupported/Eigen/CXX23/SpinLock
  unsupported/Eigen/CXX23/src/SpinLock.h
Due: clang-format, clang-tidy, clang-tidy-c23

refine spinlock with pause and guard
  tests/run_all.sh
  tests/spinlock/test_spinlock.cpp
  unsupported/Eigen/CXX23/CMakeLists.txt
  unsupported/Eigen/CXX23/SpinLock
  unsupported/Eigen/CXX23/src/SpinLock.h
Due: clang-format, clang-tidy, clang-tidy-c23

Modernize credits generator
  scripts/eigen_gen_credits.cpp
Due: clang-format, clang-tidy

Refine spinlock interference constant
  unsupported/Eigen/CXX23/src/SpinLock.h
Due: clang-format, clang-tidy, clang-tidy-c23

Switch build to C++17
  CMakeLists.txt
  cmake/EigenConfigureTesting.cmake
  porter/scan_templates.py
  setup.sh
  test/CMakeLists.txt
  tests/run_all.sh
  unsupported/test/CMakeLists.txt
Due: none

Guard LAPACK addon download
  README.md
  lapack/CMakeLists.txt
  setup.sh
Due: none

cmake: require 3.20 and move minimum to top
  CMakeLists.txt
Due: none

tests: compile with c++17
  tests/run_all.sh
  unsupported/Eigen/CXX23/SpinLock
Due: none

Use C++17 default
  setup.sh
Due: none

build: compile f2c sources as C++
  blas/CMakeLists.txt
Due: none

Update CMake version references
  CMakeLists.txt
  bench/btl/CMakeLists.txt
  cmake/FindComputeCpp.cmake
  cmake/FindTriSYCL.cmake
  cmake/language_support.cmake
  doc/TopicCMakeGuide.dox
Due: none

Make gen_headers.py executable
  porter/gen_headers.py
Due: none

porter: use c++17 for template scan
  porter/scan_templates.py
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cpp|cxx|h|hpp)$
  clang-tidy: any of: \.(c|cc|cpp|cxx|h|hpp)$
  clang-tidy-c23: any of: \.(c|h)$
